<div class="companyDashboard">
    <h4>Company dashboard</h4>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Location</th>
                <th>Website</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of companyList">
                <td>{{emp.name}}</td>
                <td>{{emp.type}}</td>
                <td>{{emp.location}}</td>
                <td>{{emp.url}}</td>
                <td>
                    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    <button class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>