<div class="companyDashboard">
    <h4>Company dashboard</h4>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Location</th>
                <th>Website</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comp of companyList">
                <td>{{comp.name}}</td>
                <td>{{comp.type}}</td>
                <td>{{comp.location}}</td>
                <td>{{comp.url}}</td>
                <td>
                    <button class="btn btn-danger" (click)="onDelete(comp)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    <button class="btn btn-info" (click)="onEdit(comp)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>